{% extends "dy0.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>

<body onload="update_values();">
    <h1> Dynamic update</h1>
    <p>
        <span id="result">?</span>
    </p>
    <script>
        document.getElementById("result").innerHTML;
    </script>
    <button onclick="stopTextColor();">Stop</button>
    <div>
        <canvas id="myChart" width="0.02em" height=".02em"></canvas>
        <canvas id="myChart2" width="0.02em" height=".02em"></canvas>

    </div>
    <script language="JavaScript" src="livePlotting.js?n=1"></script>

</body>

</html>